<section class="relative overflow-hidden h-[100vh]">
  <div class="px-5 py-10">
    <h1 class="font-black leading-none text-black font-size-5xl">Define yourself in your unique way.</h1>
    <img class="absolute left-0 top-10" ngSrc="../../../assets/images/auth/Alpha Element (1).svg" priority width="500"
      height="20" alt="element_decoration" />
    <img priority class="absolute left-[-44px] top-44 font-size-5xl"
      ngSrc="../../../assets/images/auth/Background Remover.png" width="555" height="20" alt="person_decoration" />
  </div>
  <footer class="absolute bottom-0 w-full px-6 py-8 bg-white">
    <app-btn-common [CommonBtnData]="loginBtn">Get Started</app-btn-common>
  </footer>
</section>