<router-outlet></router-outlet>
<h1>ng-alpha</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea aut reiciendis velit id facilis
asperiores nobis officiis magnam quod fugiat, explicabo ut quasi dolores et non, adipisci natus
rerum nesciunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem nam, esse
nisi eligendi saepe optio dolor? Maiores consequatur magni, sunt, magnam eaque rerum facilis ad
natus dolor veniam, voluptas doloremque. Nemo aliquid repellendus nobis odit tempore. Hic, corporis
voluptate delectus nisi officiis, soluta maiores impedit vero ex ipsa quisquam veniam obcaecati
labore dicta optio animi ut rem blanditiis facilis explicabo? Reprehenderit labore optio fuga
accusamus quo, culpa libero delectus obcaecati maxime rerum sit esse aperiam explicabo commodi illum
temporibus? Inventore reprehenderit quas dolorum saepe fuga ipsam, doloremque cupiditate quo hic.
Quis, unde sapiente porro ipsa illo possimus enim quia itaque recusandae voluptatem quidem,
similique hic debitis magnam doloribus amet ex saepe provident consequatur et maxime laborum at,
beatae reiciendis? Voluptas?
<h1>shahil</h1>
