/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$gutter: 1rem; //for primeflex grid system

//primeng and other css files importing
@import "../node_modules/primeng/resources/primeng.min.css";
@import "assets/theme/theme.css";
@import "assets/theme/layout/layout.scss";




@font-face {
  font-family: 'GeneralSans';
  src: url('assets/fonts/General_Sans/GeneralSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'GeneralSans', sans-serif !important;
}


